.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

logs/*
models/*
outputs/*
recordings/*
temp/*
!logs/.gitkeep
!models/.gitkeep
!outputs/.gitkeep
!recordings/.gitkeep
!temp/.gitkeep
!temp/uploads/
temp/uploads/*
!temp/uploads/.gitkeep

*.zip
*.log
